.innerBox {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

header {
    line-height: 2;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    margin-top: 30px;
}

#nav {
    text-align: center;
}

#nav>li {
    float: left;
    position: relative;
    text-align: center;
}

#nav>li>a {
    display: block;
    font-size: 23px;
    font-weight: 500;
    padding: 0 40px;
    color: #000000;
}

.sub {
    display: none;
    position: absolute;
    width: 100%;
    line-height: 35px;
    height: 230px;
    z-index: 10;
}

.sub>li {
    float: left;
    width: 100%;
}

.sub li a {
    float: left;
    padding-left: 40px;
    font-size: 20px;
}

#nav>li:hover .sub {
    display: block;
}


#nav>li:hover>a {
    color: #aca973;
}

.sub>li:hover>a {
    color: #766f52;
    display: block;
}

.rightGnb {
    position: relative;
}

.rightGnb>li {
    float: right;
    padding-right: 40px;
    padding-top: 15px;
}

.rightGnb li img {
    width: 20px;
}

.hamBox {
    display: none;
}

/*mainBanner*/
#mainBanner {
    max-width: 1920px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.mainBannerWrap {
    width: 300%;
}

.mainBannerWrap>li {
    position: relative;
    float: left;
    width: calc(100%/3);
}


.mainBannerWrap>li>img {
    width: 100%;
}

.mainBannerWrap .textBox {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.mainBannerWrap .textBox>span {
    font-size: 30px;
    color: white;
    margin-left: 3px;
}

.mainBannerWrap .textBox>p {
    font-size: 60px;
    color: white;
    font-weight: 600;
    line-height: 50px;
}

.pager {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    top: 520px;
}

.pager>li {
    margin: 0 10px;
}

.pager>li>a {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 150px;
}

.pager>.active>a {
    background: rgb(158, 158, 158);
    color: rgb(0, 0, 0);
}



/* container */
#container {
    padding-top: 50px;
    overflow: hidden;
}

#container .getBanner {
    display: flex;
    justify-content: space-between;
}

#container>div {
    width: calc(100/5);
    padding: 0 10px;
    box-sizing: border-box;
}

.getBanner>li {
    float: left;
}

.getBanner>li>a {
    display: block;
    position: relative;
}

.getBanner>li>a>img {
    width: 100%;
}

.getBanner>li>a:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 1;
    transition: 0.5s;
}

.getBanner>div img {
    width: 100%;
}

.getBanner .textBox {
    position: absolute;
    max-width: 230px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    line-height: 35px;
    color: white;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}

.getBanner>li>a:hover>.textBox {
    opacity: 1;
}

.getBanner>li>a:hover::after {
    opacity: 1;
}

.getBanner .textBox>span {
    display: block;
    font-size: 24px;
}

.getBanner .textBox>p {
    font-size: 38px;
}

/* subBanner */
.subBanner {
    margin-top: 50px;
}

.subBanner>.innerBox {
    position: relative;
    display: flex;

}

.subBannerOverlap {
    margin: 0 15px;
    box-sizing: border-box;

}

.subBanner01>.title1 {
    font-size: 28px;
    color: rgb(0, 0, 0);
    width: 100%;
}

.subBanner02>.title2 {
    font-size: 28px;
    color: rgb(0, 0, 0);
    width: 100%;
}

.subBanner03>.title3 {
    font-size: 28px;
    color: rgb(0, 0, 0);
    width: 100%;
}

.subBanner04>.title4 {
    font-size: 28px;
    color: rgb(0, 0, 0);
    width: 100%;
}


.subBanner>.innerBox>div {
    position: relative;
}

.innerBox div img {
    width: 100%;
    
}

/* shopWrap */
.shopWrap {
    top: 50px;
    max-width: 1920px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.shopBanner {
    position: relative;
}

.shopBanner>img {
    width: 100%;
}

.shopBanner>.shopText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.shopBanner>.shopText>span {
    color: rgb(0, 0, 0);
    font-size: 48px;
}

.shopBanner>.shopText>.shopBtn {
    margin-top: 30px;
}

.shopBanner>.shopText>.shopBtn>a {
    display: block;
    color: rgb(198, 198, 198);
    font-size: 25px;
    max-width: 320px;
    margin: 0 auto;
    line-height: 55px;
    background: rgb(0, 0, 0);
}

.shopBanner>.shopText>.shopBtn>a:hover {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 25px;
    max-width: 320px;
    margin: 0 auto;
    line-height: 55px;
    background: rgb(255, 255, 255);
}


/* lastWrap */
.lastWrap {
    top: 100px;
    max-width: 1920px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.lastBanner {
    position: relative;
}

.lastBanner>img {
    width: 100%;
}

.lastBanner>.lastText {
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    color: rgb(23, 23, 23);
}

.emileCheckBox>.search {
    position: absolute;
    left: 50%;
    top: 480px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    color: rgb(168, 167, 167);
}


/* footer */
footer .innerBox {
    position: relative;
}

.footTop {
    height: 60px;
    padding-right: 350px;
}

.footTop li {
    float: left;
    line-height: 60px;
    margin: 0 20px;
}

.footTop ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.rightfoot {
    top: 23px;
    position: relative;
}



@media screen and (max-width: 1700px) {
    #nav {
        position: fixed;
        right: 1%;
        top: 90px;
        background: #dedfe0;
        display: none;
        padding: 20px 50px;
        border-radius: 20px;
        width: 300px;
        line-height: 35px;
        box-sizing: border-box;
        z-index: 1000;
    }

    #nav:hover .sub {
        display: none;

    }

    #nav>li:hover .sub {
        display: none;
    }

    .innerBox #nav>li {
        border-bottom: 1px solid rgb(1, 1, 1);
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        top: 0;
        padding: 10px 15px;
    }

    #nav>li:last-child {
        border: 0;
        padding-bottom: 10px;
    }

    #nav>li>a {
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        font-size: 15px;
    }

    .logo {
        margin-left: 10px;
    }

    .rightGnb {
        margin-right: 70px;
    }

    .hamBox {
        position: fixed;
        top: 15px;
        right: 1%;
        padding: 10px;
        background: #a8a8a8;
        border-radius: 10px;
        z-index: 1000;
        display: block;
        width: 40px;
    }

    .hamBtn {
        display: block;
    }


    .lastBanner>div>h3 {
        font-size: 30px;
        margin-bottom: 50%;
    }


    .lastBanner>div>p {
        display: none;
    }

    .emileCheckBox {
        display: none;
    }

}


@media screen and (max-width: 950px) {
    .getBanner>li:nth-child(5) {
        display: none;
    }
}


@media screen and (max-width: 870px) {
    #mainBanner>ul>li>div>p {
        font-size: 44px;
        margin-bottom: 120px;
    }

    .getBanner>li:nth-child(4) {
        display: none;
    }

    .getBanner>li:nth-child(5) {
        display: none;
    }

    .subBanner>.innerBox>div:nth-child(4) {
        display: none;
    }


    .shopBanner>.shopText>span {
        font-size: 32px;
    }

    .lastBanner>div>h3 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 300px;
    }


    .lastBanner>div>p {
        display: none;
    }

    .emileCheckBox {
        display: none;
    }
}

@media screen and (max-width: 870px) {
    .lastBanner>div>h3 {
        display: none;
    }


    .lastBanner>div>p {
        display: none;
    }

    .emileCheckBox {
        display: none;
    }



    @media screen and (max-width: 820px) {
        .rightfoot{
            display: none;
        }
    }


    @media screen and (max-width: 650px) {
        .getBanner>li:nth-child(3) {
            display: none;
        }

        .subBanner>.innerBox>div:nth-child(3) {
            display: none;
        }

    }

    
    @media screen and (max-width: 520px) {
        .rightGnb{
            display: none;
        }
        .footTop{
            display: none;
        }
    }


    @media screen and (max-width: 400px) {
        #mainBanner>ul>li>div>p{
            display: none;
        }

        #mainBanner>ul>li>div>span{
            display: none;
        }

        .shopBanner>.shopText>span {
            display: none;
        }
    
        .lastBanner>div>h3 {
            font-size: 18px;
            text-align: center;
           
            
        }
    }
}